
.tarjeta {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;    
    max-width: 350px;
    max-height: 220px;
    background-color: rgb(247, 243, 231);
    color: rgb(24, 24, 24);
    
  }
  
  .tarjeta-imagen {
    max-width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .tarjeta-contenido {
    flex: 1;
  }
  
  .tarjeta-titulo {
    box-sizing: border-box;
    font-size: clamp(18px, 4vw,24px);
    margin: 0;
    margin-bottom: 20px;
  }
  
  .tarjeta-descripcion {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    overflow: hidden;
    margin: 0;
    margin-bottom: 20px;
    font-size: clamp(8px, 4vw,16px);
    height: 20%;
  }
  
  .tarjeta-precio {
    margin: 0;
    font-weight: bold;
  }
  
  .boton-agregar {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  .boton-agregar:hover {
    background-color: #45a049;
  }

  .boton-vermas {
    background-color: #c2e4eb;
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    margin-left: 5px;
    cursor: pointer;
  }
  .boton-vermas:hover {
    background-color: #a1deeb;
  }
  
  .boton-quitar {
    background-color: #af4c4c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .boton-quitar:hover {
    background-color: #a04545;
  }
  
  
  .carrito {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  